<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>A paraphrase of Calvin's Commentaries by Dustyn Keepers</title>
    <link rel="stylesheet" href="/calvin-commentaries/stylesheets/styles.css">
    <link rel="stylesheet" href="/calvin-commentaries/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/calvin-commentaries/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/dkeeps/calvin-commentaries">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="/calvin-commentaries/">Calvin's Commentaries</a></h1>
          <p>A paraphrase by Dustyn Keepers</p>
          <hr>
        </div>

        {{ content }}
      </section>
      <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">This paraphrase of Calvin&#39;s Commentaries</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://github.com/dkeeps/calvin-commentaries" property="cc:attributionName" rel="cc:attributionURL">Dustyn Keepers</a> is licensed under a<br> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->

  </body>
</html>